DATABASE_URI=postgresql://postgres:[PASSWORD]@db.[PROJECT].supabase.co:5432/postgres
PAYLOAD_SECRET=GENERATE_A_SECURE_SECRET_HERE
NEXT_PUBLIC_SITE_URL=http://localhost:3000
SENDGRID_API_KEY=
NEXT_PUBLIC_GA_ID=
NEXT_PUBLIC_GTM_ID=
NEXT_PUBLIC_ADSENSE_PUB_ID=
META_PIXEL_ID=
